.header {
  display: flex;
  justify-content: center;   
  align-items: center;      
  position: relative;        
}

.nav-left {
  position: absolute;        
  left: 0;
}

#heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 120px;
    color: black;
    background-color: rgb(243, 243, 243);
    border: 1px, solid, rgb(165, 165, 165);
    border-radius: 7px;
    padding: 6px;
    text-decoration: none;
}

hr {
    color: gray; 
    size: 2px; 
    width: 100%;
    margin: 0;
}

.firstdiv {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 930px;
    margin: auto;
    border: 1px, solid, rgb(165, 165, 165);
    border-radius: 10px;
    width: 910px;
    padding: 20px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#head1 {
    margin-bottom: 4px;
}

#p1 {
    margin-top: 4px;
}

img {
    float: right;
    margin: 20px;
    margin-top: 58px;
    border-radius: 10px;
}

.seconddiv {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 950px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

#action {
    font-family: Arial, Helvetica, sans-serif;
    width: 950px;
    margin: auto;
    width: 800px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}